.custom-navbar {
    background-color: #00FF7F !important;

}
.navbar-logo {
    margin-left: 10px;
    margin-right: 10px;
}
body {
    background-color: black;
    background-image: ;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover; /* Optional: to make the background image cover the entire page */
    background-repeat: no-repeat; /* Optional: to prevent repeating of the image */
    background-position: center center; /* Optional: to center the image */
}
.nav-link{
    color: white !important;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}